body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #9b1cce;
    border: rgb(29, 179, 24);
    font-size: 25px;
    background-color: rgb(209, 188, 229);
    box-shadow: burlywood 15%;
}