body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    color: #45cc57;
    border: coral;
    font-size: 18px;
    background-color: rgb(174, 199, 150);
=======
    color: #9b1cce;
    border: rgb(29, 179, 24);
    font-size: 25px;
    background-color: rgb(209, 188, 229);
    box-shadow: burlywood 15%;
>>>>>>> cabecera
}